/* ------------------------------STRUCTURE------------------------------- */
body {
	height: 100vh;
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	overflow: hidden;
}

.body {
	flex: 1;
	display: grid;
	grid-template-columns: 22% auto;
	min-height: 0;
	height: calc(100vh - 140px);
	margin-top: 60px; /*navbar */
	margin-bottom: 80px; /*playbar */
}

/* ------------------------------NAVBAR------------------------------- */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: black;
	z-index: 1000;
}

.spotify-logo-nav {
	padding: 6px 20px 7px 20px;
}

.install-app-button {
	padding: 0px 20px 0px 20px;
}
.nav-right .text-button:hover {
	color: white;
}

/* ------------------------------SIDEBAR------------------------------- */
.sidebar {
	min-height: 0;
	height: 100%;
	grid-column: 1/2;
	background-color: #141414;
	border: 3px solid black;
	border-radius: 10px;
	padding: 8px;
	overflow-y: auto;
	box-sizing: border-box;
}

.your-library {
	padding: 5px 5px 20px 5px;
}

.more-button {
	color: white;
	font-size: larger;
	border: none;
	border-radius: 50%;
	background-color: #282727;
	/* padding: 2px 2px 2px 2px; */
}

.create-playlist {
	background-color: #1f1f1f;
	border-radius: 7px;
	padding: 10px;
}

.left-footer {
	padding: 30px 10px 10px 10px;
}

.bottom-links a {
	font-size: small;
	font-weight: 400;
	color: #b3b3b3;
	padding: 5px 15px 5px 0px;
	line-height: 30px;
	text-decoration: none;
}

.sidebar-language-button {
	padding-top: 30px;
}
.language-button {
	border: 1px solid white;
	border-radius: 20px;
	padding: 5px 7px 5px 7px;
	background-color: #1f1f1f;
	color: white;
}

/* ------------------------------MAIN CONTENT------------------------------- */
.main-content {
	position: relative;
	grid-column: 2/3;
	background: linear-gradient(to bottom, #252424, #141414, #141414, #141414);
	border-radius: 10px;
	border: 3px solid black;
	padding: 0px 30px;
	min-width: 0;
	min-height: 0;
	/* overflow-x: hidden; */
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
}

.main-content::-webkit-scrollbar {
	display: none;
}

.card {
	flex: 0 0 auto;
	height: 250px;
	width: 177px;
	border-radius: 7px;
	background-color: inherit;
	transition: background-color 0.3s ease;
	position: relative;
}

.card:hover {
	background-color: #414040;
}

.card:hover .play-button {
	opacity: 1;
	transform: translateY(0px);
}

.card-image {
	height: 150px;
	width: 150px;
	border-radius: 7px;
	display: block;
	margin: 10px auto;
}

.play-button {
	font-size: larger;
	background-color: rgb(47, 230, 47);
	padding: 13px 16px;
	border-radius: 50%;
	border: none;
	position: absolute;
	right: 22px;
	bottom: 100px;
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.3s ease;
}

.popular-artists-cards .card {
	height: 231px;
}

.circular-card-image {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
}

h3 {
	padding-left: 15px;
	line-height: 10px;
}

.card p {
	padding-left: 15px;
}

.section-divider {
	/* color: #414040; */
	opacity: 0.5;
	margin-top: 10vh;
}

.right-footer {
	/* margin: 20px; */
	padding-bottom: 20px;
	align-items: flex-start !important;
	gap: 40px;
}

.right-footer .bottom-links a {
	font-size: medium;
	line-height: 15px;
}
.right-footer .bottom-links h3 {
	padding-left: 0px;
}

.bottom-links a:hover {
	color: white;
}

/* --------------------------PLAYBAR---------------------------- */
.playbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	border-radius: 10px;
	background: linear-gradient(to bottom, #1e5734, #121212);
	border-top: 1px solid #1db95433;
	/* background: linear-gradient(to bottom, green, black); */
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 1200;
	box-sizing: border-box;
}
.thumbnail-name h2,
p {
	padding-left: 5px;
	line-height: 3px;
}

.playbar-button {
	font-size: larger;
	background-color: white;
	padding: 8px 11px;
	border-radius: 50%;
	border: 1px solid #053a1776;
	box-shadow: 5px rgba(0, 0, 0, 0.401);
	margin: 2px 4px;
	/* position: absolute; */
}

.playbar-button:active {
	background-color: #414040;
}

.prog-bar {
	width: 30vw;
	height: 2px;
	accent-color: #1db954;
}

.playbar-volume p {
	font-size: large;
	font-weight: 600;
}

.vol-bar {
	height: 2px;
	accent-color: #1db954;
}

.playbar-thumbnail {
	height: 70px;
	width: 70px;
	border: 0px;
	border-radius: 4px;
}
